.images-3-icon,
.the-machine-stops-1 {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1452px;
  height: 1172px;
  object-fit: cover;
}
.the-machine-stops-1 {
  top: 383px;
  left: 77px;
  width: 251.3px;
  height: 335px;
}
.t {
  font-size: 12px;
}
.the-machine-stops-is-a-scienc {
  margin: 0;
}
.the-machine-stops-container {
  position: absolute;
  top: 392px;
  left: 456px;
  font-weight: 300;
}
.desktop-3-child {
  position: absolute;
  top: 645px;
  left: 363px;
  border-radius: 20px;
  width: 406px;
  height: 94px;
}
.emforester {
  position: absolute;
  top: 680px;
  right: 814px;
  font-weight: 300;
  color: #fff;
}
.author5 {
  font-weight: 700;
}
.i {
  font-weight: 300;
}
.author4 {
  position: absolute;
  top: 613px;
  left: 422px;
  display: inline-block;
  width: 93px;
  height: 23px;
}
.desktop-3-inner,
.desktop-3-item {
  position: absolute;
  top: 917px;
  left: 48px;
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 112px;
  height: 77px;
}
.desktop-3-inner {
  left: 1300px;
}
.akar-iconsarrow-left3,
.akar-iconsarrow-right4 {
  position: absolute;
  top: 1005px;
  left: 69px;
  width: 50px;
  height: 100px;
  overflow: hidden;
}
.akar-iconsarrow-right4 {
  top: 905px;
  left: 1331px;
}
.desktop-3-child1,
.desktop-3-child2,
.desktop-3-child3 {
  position: absolute;
  top: 14px;
  left: 787px;
  background-color: #d9d9d9;
  width: 180px;
  height: 40px;
}
.desktop-3-child2,
.desktop-3-child3 {
  left: 990px;
}
.desktop-3-child3 {
  left: 1193px;
}
.about-us4,
.howe3,
.services4 {
  position: absolute;
  font-weight: 300;
}
.howe3 {
  top: 46px;
  left: 846px;
  display: inline-block;
  width: 89px;
  height: 24px;
}
.about-us4,
.services4 {
  top: 22px;
  left: 1017px;
}
.services4 {
  left: 1246px;
}
.desktop-3 {
  width: 100%;
  position: relative;
  background-color: #c4b0b0;
  height: 910px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
