.images-1-icon,
.oppenheimer-1-icon1 {
  position: absolute;
  top: -7px;
  left: -23px;
  width: 1496px;
  height: 959px;
  object-fit: cover;
}
.oppenheimer-1-icon1 {
  top: 325px;
  left: 73px;
  width: 237px;
  height: 335px;
}
.blank-line2 {
  margin: 0;
}
.text1 {
  position: absolute;
  top: 196px;
  left: 431px;
  font-size: 40px;
}
.oppenheimer-is-most-container1 {
  position: absolute;
  top: 376px;
  left: 435px;
  font-weight: 300;
  display: inline-block;
  width: 1832px;
}
.desktop-1-child {
  position: absolute;
  top: 689px;
  left: 327px;
  border-radius: 20px;
  background-color: #e48e4f;
  width: 406px;
  height: 99px;
}
.author1 {
  position: absolute;
  top: 660px;
  left: 431px;
  font-weight: 800;
}
.j-robert-oppenheimer-container1 {
  position: absolute;
  top: 716px;
  left: 397px;
  font-weight: 300;
}
.desktop-1-inner,
.desktop-1-item {
  position: absolute;
  top: 804px;
  left: 1319px;
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 112px;
  height: 77px;
}
.desktop-1-inner {
  left: 42px;
}
.akar-iconsarrow-left1,
.akar-iconsarrow-right2 {
  position: absolute;
  top: 893px;
  left: 73px;
  width: 50px;
  height: 100px;
  overflow: hidden;
}
.akar-iconsarrow-right2 {
  top: 793px;
  left: 1359px;
}
.desktop-1-child1 {
  position: absolute;
  top: 15px;
  left: 751px;
  background-color: #d9d9d9;
  width: 180px;
  height: 40px;
}
.home {
  position: absolute;
  top: 23px;
  left: 796px;
  font-weight: 300;
}
.desktop-1-child2 {
  position: absolute;
  top: 15px;
  left: 965px;
  background-color: #d9d9d9;
  width: 180px;
  height: 40px;
}
.about-us2 {
  position: absolute;
  top: 23px;
  left: 997px;
  font-weight: 300;
}
.desktop-1-child3 {
  position: absolute;
  top: 15px;
  left: 1179px;
  background-color: #d9d9d9;
  width: 180px;
  height: 40px;
}
.sign-in {
  position: absolute;
  top: 23px;
  left: 1232px;
  font-weight: 300;
}
.images-1-icon1,
.oppenheimer-2-icon {
  position: absolute;
  top: 0;
  left: -12px;
  width: 1496px;
  height: 959px;
  object-fit: cover;
}
.oppenheimer-2-icon {
  top: 235px;
  left: 29px;
  width: 251px;
  height: 377.2px;
}
.author2,
.oppenheimer-is-most-container2 {
  position: absolute;
  top: 433px;
  left: 352px;
  font-weight: 300;
}
.author2 {
  top: 597px;
  left: 293px;
  display: inline-block;
  font-weight: 800;
  width: 94px;
  height: 24px;
}
.desktop-1-child4,
.desktop-1-child5,
.desktop-1-child6 {
  position: absolute;
  top: 625px;
  left: 302px;
  border-radius: 20px;
  background-color: #35425b;
  width: 406px;
  height: 94px;
}
.desktop-1-child5,
.desktop-1-child6 {
  top: 821px;
  left: 51px;
  background-color: #d9d9d9;
  width: 112px;
  height: 77px;
}
.desktop-1-child6 {
  left: 1311px;
}
.desktop-1 {
  width: 100%;
  position: relative;
  border-radius: 20px;
  background-color: #c4b0b0;
  height: 909px;
  overflow: hidden;
  display: none;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
