.images-7-icon,
.willim-gibson-burning-chrome-1 {
  position: absolute;
  top: -13px;
  left: -11px;
  width: 1462px;
  height: 1146px;
  object-fit: cover;
}
.willim-gibson-burning-chrome-1 {
  top: 346px;
  left: 62px;
  width: 222.1px;
  height: 335px;
}
.burning-chrome-is {
  margin: 0;
}
.author12,
.burning-chrome-is-container {
  position: absolute;
  top: 464px;
  left: 426px;
  font-weight: 300;
}
.author12 {
  top: 633px;
  left: 440px;
  font-weight: 800;
}
.desktop-7-child {
  position: absolute;
  top: 669px;
  left: 380px;
  border-radius: 20px;
  background-color: #a49eee;
  width: 406px;
  height: 94px;
}
.william-gibson {
  position: absolute;
  top: 704px;
  left: 487px;
  font-weight: 300;
}
.desktop-7-inner,
.desktop-7-item {
  position: absolute;
  top: 906px;
  left: 1259px;
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 112px;
  height: 77px;
}
.desktop-7-inner {
  left: 48px;
}
.akar-iconsarrow-left7,
.akar-iconsarrow-right8 {
  position: absolute;
  top: 994px;
  left: 79px;
  width: 50px;
  height: 100px;
  overflow: hidden;
}
.akar-iconsarrow-right8 {
  top: 894px;
  left: 1290px;
}
.desktop-7-child1,
.desktop-7-child2,
.desktop-7-child3 {
  position: absolute;
  top: 14px;
  left: 791px;
  background-color: #d9d9d9;
  width: 180px;
  height: 40px;
}
.desktop-7-child2,
.desktop-7-child3 {
  left: 1009px;
}
.desktop-7-child3 {
  left: 1227px;
}
.about-us8,
.howe7,
.services9 {
  position: absolute;
  font-weight: 300;
}
.howe7 {
  top: 46px;
  left: 846px;
  display: inline-block;
  width: 89px;
  height: 24px;
}
.about-us8,
.services9 {
  top: 22px;
  left: 1048px;
}
.services9 {
  top: 27px;
  left: 1266px;
}
.desktop-7 {
  width: 100%;
  position: relative;
  background-color: #c4b0b0;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
