.images-6-icon,
.the-time-machine-1 {
  position: absolute;
  top: -17px;
  left: -29px;
  width: 1520px;
  height: 1131px;
  object-fit: cover;
}
.the-time-machine-1 {
  top: 346px;
  left: 84px;
  width: 237px;
  height: 379.2px;
}
.the-time-machine {
  margin: 0;
}
.the-time-machine-container {
  position: absolute;
  top: 457px;
  left: 424px;
  line-height: 120%;
  font-weight: 300;
}
.author10 {
  position: absolute;
  top: 615px;
  left: 424px;
  font-weight: 800;
}
.desktop-6-child {
  position: absolute;
  top: 653px;
  left: 376px;
  border-radius: 20px;
  background-color: #140d69;
  width: 406px;
  height: 94px;
}
.hgwells {
  position: absolute;
  top: 681px;
  left: 488px;
  font-weight: 300;
  color: #fff;
}
.desktop-6-inner,
.desktop-6-item {
  position: absolute;
  top: 911px;
  left: 1275px;
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 112px;
  height: 77px;
}
.desktop-6-inner {
  left: 53px;
}
.akar-iconsarrow-left6,
.akar-iconsarrow-right7 {
  position: absolute;
  top: 999px;
  left: 84px;
  width: 50px;
  height: 100px;
  overflow: hidden;
}
.akar-iconsarrow-right7 {
  top: 899px;
  left: 1306px;
}
.desktop-6-child1,
.desktop-6-child2,
.desktop-6-child3 {
  position: absolute;
  top: 14px;
  left: 797px;
  background-color: #d9d9d9;
  width: 180px;
  height: 40px;
}
.desktop-6-child2,
.desktop-6-child3 {
  left: 1010px;
}
.desktop-6-child3 {
  left: 1223px;
}
.about-us7,
.howe6,
.services8 {
  position: absolute;
  font-weight: 300;
}
.howe6 {
  top: 46px;
  left: 842px;
  display: inline-block;
  width: 89px;
  height: 24px;
}
.about-us7,
.services8 {
  top: 22px;
  left: 1049px;
}
.services8 {
  left: 1262px;
}
.desktop-6 {
  width: 100%;
  position: relative;
  background-color: #c4b0b0;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
