.e7a87347a050a40954f1ef26d1da3e,
.images-9-icon {
  position: absolute;
  top: 139px;
  left: -150px;
  width: 1799px;
  height: 941px;
}
.images-9-icon {
  top: -26px;
  left: 0;
  width: 1541px;
  height: 1071px;
  object-fit: cover;
}
.login {
  position: absolute;
  top: 761px;
  left: 701px;
  font-size: 40px;
  color: #fff;
}
.desktop-8-child {
  position: absolute;
  top: 14px;
  left: 540px;
  background-color: #d9d9d9;
  width: 180px;
  height: 40px;
}
.desktop-8-inner,
.desktop-8-item,
.rectangle-div {
  position: absolute;
  top: 14px;
  left: 773px;
  width: 180px;
  height: 40px;
}
.desktop-8-inner,
.rectangle-div {
  left: 1006px;
  background-color: #d9d9d9;
}
.rectangle-div {
  left: 1239px;
}
.log-in {
  top: 22px;
  left: 1280px;
}
.about-us,
.howe,
.log-in,
.services {
  position: absolute;
  font-weight: 300;
  font-family: Inter;
}
.howe {
  top: 46px;
  left: 582px;
  display: inline-block;
  width: 97px;
  height: 24px;
}
.about-us,
.services {
  top: 22px;
  left: 792px;
}
.services {
  left: 1047px;
}
.desktop-8-child1 {
  position: absolute;
  top: 307px;
  left: calc(50% - 301px);
  border-radius: 20px;
  background-color: #fff7f7;
  box-shadow: 34.6px -34.6px 34.6px rgba(165, 165, 165, 0.1) inset,
    -34.6px 34.6px 34.6px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(69.2px);
  width: 626px;
  height: 620px;
}
.dont-have-an {
  position: absolute;
  top: 797px;
  left: 615px;
  white-space: pre-wrap;
}
.forget-password,
.remember-me {
  position: absolute;
  top: 668px;
  left: 872px;
  font-size: 16px;
}
.remember-me {
  top: 667px;
  left: 598px;
  white-space: pre-wrap;
}
.login1 {
  position: absolute;
  top: 373px;
  left: 717px;
  font-size: 40px;
}
.desktop-8-child2,
.line-div {
  position: absolute;
  top: 511.5px;
  left: 574.5px;
  border-top: 1px solid #000;
  box-sizing: border-box;
  width: 399px;
  height: 1px;
}
.desktop-8-child2 {
  top: 633.5px;
  left: 581.5px;
  width: 392px;
}
.desktop-8-child3 {
  position: absolute;
  top: 443px;
  left: 589px;
  background-color: #fff;
  width: 364px;
  height: 58px;
}
.username {
  position: absolute;
  top: 454px;
  left: 607px;
  font-size: 32px;
}
.desktop-8-child4 {
  position: absolute;
  top: 564px;
  left: 593px;
  background-color: #fff;
  width: 364px;
  height: 58px;
}
.password {
  position: absolute;
  top: 576px;
  left: 607px;
  font-size: 32px;
}
.icbaseline-email-icon,
.mdipassword-icon {
  position: absolute;
  top: 469px;
  left: 921px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.mdipassword-icon {
  top: 585px;
  left: 923px;
}
.fluent-emoji-high-contrastcro-icon,
.vector-icon {
  position: absolute;
  top: 317px;
  left: 1017px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.vector-icon {
  height: 1.38%;
  width: 0.9%;
  top: 65.14%;
  right: 61.93%;
  bottom: 33.49%;
  left: 37.17%;
  max-width: 100%;
  max-height: 100%;
}
.desktop-8-child5 {
  position: absolute;
  top: 713px;
  left: 589px;
  background-color: #fff;
  width: 401px;
  height: 50px;
}
.login2 {
  position: absolute;
  top: 719px;
  left: 720px;
  font-size: 32px;
}
.desktop-8-child6 {
  position: absolute;
  top: 918px;
  left: 1346px;
  border-radius: 20px;
  background-color: #d9d9d9;
  width: 96px;
  height: 77px;
}
.akar-iconsarrow-right,
.vector-icon1 {
  position: absolute;
  top: 916px;
  left: 1442px;
  width: 33px;
  height: 95px;
  overflow: hidden;
}
.vector-icon1 {
  height: 5.69%;
  width: 2.23%;
  top: 90.53%;
  right: 5.48%;
  bottom: 3.78%;
  left: 92.29%;
  max-width: 100%;
  max-height: 100%;
}
.desktop-8 {
  width: 100%;
  position: relative;
  background-color: #fff;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: "Irish Grover";
}
